.user-form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: 1454px) {
    width: 20%;
  }

  .form-group {
    flex-shrink: 1;

    input {
      margin: 1rem;
    }
  }

  .submit-button {
    display: block;
    width: 100px;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
  }
}
