@import "../src/assets/scss/normalize.scss";

@font-face {
  font-family: "Avenir";
  src: url("../src/assets/font/AvenirLTStd-Black.otf") format("opentype");
}

html {
  font-family: sans-serif;
  color: #2c3e50;
}

.container {
  min-height: 100vh;
}
